<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression Test Suite" verbose="4">

	<test name="Open DemoCart">

		<classes>
			<class name="testngsessions.OpenDemoCart" />
		</classes>

	</test>

	<test name="Home Page">
		<classes>
			<class name="testngsessions.HomePage" />
		</classes>

	</test>
	
	<test name="News Letter">
		<classes>
			<class name="testngsessions.NewsLetter" />
		</classes>

	</test>

	


</suite>